<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cloudworld</title>
    <link href="//a.amap.com/Loca/static/manual/example/style/demo.css" rel="stylesheet">
    <style>
        html,
        body,
        #container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div id="container" class="container">
</div>
<!--<script src="./script/loca.js"></script>-->
<script src="//webapi.amap.com/loca?key=a64473f1e3602e83e5c1c44cea694722"></script>
<script src="//a.amap.com/Loca/static/manual/example/script/demo.js"></script>
<script src="//a.amap.com/Loca/static/mock/districts.js"></script>
<script>
    var map = Loca.create('container', {
        mapStyle: 'amap://styles/midnight',
        zoom: 5,
        center: [107.4976, 32.1697]
    });

    var layer = Loca.visualLayer({
        eventSupport: true,    // selectStyle 配置需要开启 eventSupport: true
        container: map,
        type: 'point',
        shape: 'circle'
    });

    layer.on('mousemove', function (ev) {
        // 事件类型
        var type = ev.type;
        // 当前元素的原始数据
        var rawData = ev.rawData;
        // 原始鼠标事件
        var originalEvent = ev.originalEvent;

        openInfoWin(map.getMap(), originalEvent, {
            '名称': rawData.name,
            '位置': rawData.center
        });
    });

    layer.on('mouseleave', function (ev) {
        closeInfoWin();
    });

    layer.setData(districts, {
        lnglat: 'center'
    });

    layer.setOptions({
        style: {
            radius: 10,
            color: '#4fc2ff',
            borderColor: '#ffffff',
            borderWidth: 1.5,
            opacity: 0.8
        },
        selectStyle: {
            radius: 14,
            color: '#ffe30a'
        }
    });

    layer.render();

</script>
</body>
</html>